body {
    font-size: .825rem;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-top: 5rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}